// Variables
$bg-color-dark: #070439;
$bg-color-desaturated: #585989;
$bg-color-grey: #f8f8fe;
$accent-color-1: #3065f8;
$accent-color-2: #3c9f8f;
$text-color-black: #000000;
$text-color-white: #f6f6fe;
$shadow-color: #bfbfbf;
$font-raleway: 'Raleway', sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;
$transition: 0.5s ease;

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

::placeholder {
  color: #b8b8b8;
}

/* Header Styles */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 4% 10px 4%;
  background-color: #ffffffd1;
  backdrop-filter: blur(1rem);
  z-index: 10;
  transition: all $transition;

  /* Navigation Styles */
  .navlist {
    display: flex;

    a {
      font-family: $font-raleway;
      font-weight: $font-weight-400;
      margin: 0 30px;
      color: $text-color-black;
      transition: all $transition;

      &:hover,
      &:focus {
        color: $accent-color-1;
      }
    }
  }
}

/* Section Styles */
.section {
  padding: 150px 4% 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Section Content and Image Styles */
  &-content,
  &-img {
    flex: 1;
  }

  /* Image Styles */
  &-img {
    max-width: 650px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* Content Styles */
  &-content {
    max-width: 540px;
  }

  /* Title Styles */
  &-title {
    font-family: $font-raleway;
    font-weight: $font-weight-700;
    font-size: 2.3rem;
    line-height: 2.7rem;
  }

  /* Description Styles */
  &-description {
    margin: 20px auto;
  }
}

/* Form Styles */
form {
  width: 90%;
  display: flex;
  gap: 1rem;
  position: relative;

  /* Form Element Styles */
  * {
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 4px;
    outline: $shadow-color;
    transition: all $transition;
  }

  /* Input Styles */
  input {
    flex: 2;
    max-width: 280px;
    border-color: $shadow-color;

    &:focus {
      transform: scale(1.05);
    }
  }

  /* Button Styles */
  button {
    flex: 1;
    border-color: transparent;
    color: $text-color-white;
    background-color: $accent-color-1;
    cursor: pointer;

    &:hover,
    &:focus-within {
      opacity: 0.7;
      outline: $bg-color-dark;
      box-shadow: 2px 2px 6px 0 $bg-color-dark;
    }
  }

  /* Error Message Styles */
  .error-message {
    position: absolute;
    content: '';
    width: 100%;
    height: auto;
    bottom: -22px;
    left: 0;
    font-family: $font-raleway;
    font-size: 0.7rem;
    color: #ff9b9b;
    padding: 0.5rem 0;
    border: none;
  }
}

/* Hero Section Styles */
.hero-section {
  margin-bottom: 6rem;
}

/* Team Section Styles */
.team-section {
  position: relative;
  background-color: $bg-color-grey;

  /* Background Curve Styles */
  .bg-curve {
    position: absolute;
    top: -5em;
    right: 0;
    width: 100%;
    z-index: -1;
  }

  /* Section Title Styles */
  .section-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  /* See How Link Styles */
  .see-how {
    padding: 0.2rem 0;
    border: 1px solid transparent;
    border-bottom-color: $accent-color-2;
    outline: $accent-color-2;
    font-family: $font-raleway;
    font-size: 1.01rem;
    color: $accent-color-2;
    background-color: transparent;

    &:hover,
    &:focus {
      color: #52cfba;
      border-bottom-color: #52cfba;
      outline: #52cfba;
    }

    img {
      vertical-align: middle;
    }
  }

  /* Card Container Styles */
  .card-container {
    max-width: 60%;
    padding: 1rem 1.8rem;
    margin-top: 2.5rem;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 18px 0 $shadow-color;
    font-family: $font-raleway;
    transition: box-shadow $transition;

    &:hover,
    &:focus {
      box-shadow: 0 0 8px 0 $shadow-color;
    }

    /* Card Content Styles */
    * {
      margin-top: 0.5rem;
    }

    /* Quote Styles */
    .quote {
      width: 1rem;
    }

    /* Card Description Styles */
    .card-description {
      line-height: 1.2rem;
      font-size: 0.8rem;
    }

    /* Card Author Styles */
    .card-author {
      display: flex;
      align-items: center;
      gap: 1rem;

      /* Author Avatar Styles */
      .author-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      /* Author Name Styles */
      .author-name {
        font-size: 0.8rem;
        font-weight: $font-weight-700;
      }

      /* Author Title Styles */
      .author-title {
        font-size: 0.7rem;
        font-weight: $font-weight-400;
      }
    }
  }
}

/* Sign-in Section Styles */
.signIn-section {
  padding-top: 80px;
  color: $text-color-white;
  background-color: $bg-color-desaturated;

  /* Section Title Styles */
  .section-title {
    font-size: 1.7rem;
  }

  /* Section Description Styles */
  .section-description {
    opacity: 0.9;
  }

  /* Section Image Styles */
  .section-img {
    max-width: 480px;

    form {
      flex-direction: column;
      align-items: flex-start;

      /* Input Styles */
      input {
        flex: 1;
        width: 100%;
        max-width: 100%;

        &:focus {
          transform: scale(1);
        }
      }

      /* Button Styles */
      button {

        &:hover,
        &:focus {
          opacity: 1;
          background-color: #30a1f8;
        }
      }

      /* Error Message Styles */
      .error-message {
        bottom: 30px;
        color: $text-color-white;
      }
    }
  }
}

/* Footer Styles */
.footer {
  position: relative;
  padding-top: 80px;
  flex-direction: column;
  align-items: flex-start;
  background-color: $bg-color-dark;

  /* Logo Styles */
  .logo {
    max-width: 140px;
    filter: brightness(0%) invert(1);
    margin-bottom: 1.7rem;
  }

  /* Informations Styles */
  .informations {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    /* Address, Footer Menu, and Socials Styles */
    address,
    .footer-menu,
    .socials {
      display: flex;
      flex-direction: column;
      color: $bg-color-grey;
      gap: 1rem;

      /* Link Styles */
      a {
        color: $text-color-white;
        font-family: $font-raleway;
        transition: all $transition;

        &:hover,
        &:focus {
          color: $accent-color-1;
        }
      }
    }

    /* Address Styles */
    address {
      align-items: flex-start;

      a {
        display: flex;
        flex-direction: row-reverse;

        /* Address Icon Styles */
        .address-icon {
          margin-right: 1rem;
          vertical-align: middle;
        }
      }
    }

    /* Socials Styles */
    .socials {
      flex-direction: row;

      /* Social Icon Styles */
      .social-icon {
        font-size: 1.5rem;
        border: 1px solid $text-color-white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.4rem;

        &:hover,
        &:focus {
          border-color: $accent-color-1;
        }
      }
    }
  }

  /* Attribution Styles */
  .attribution {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 11px;
    text-align: center;
    color: $text-color-white;

    a {
      font-family: $font-raleway;
      color: #52cfba;
    }
  }
}

/* Media Query for Large Screens (min-width: 1440px) */
@media screen and (min-width: 1440px) {
  .header {
    padding: 30px 10% 10px 10%;

    .navlist {
      a {
        font-size: 1.4rem;
      }
    }
  }

  /* Section General Styles */
  .section {
    height: 100vh;
    padding: 30px 10% 10px 10%;
    gap: 1em;

    &-img {
      max-width: 1024px;
    }

    &-content {
      max-width: 700px;
    }

    &-title {
      font-size: 2.5rem;
    }

    &-description {
      font-size: 1.4rem;
    }

    form {
      width: 70%;
    }
  }

  .signIn-section {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;

    form {
      width: 100%;
    }
  }

  .footer {
    height: max-content;
    padding-top: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .team-section {
    .bg-curve {
      top: -3em;
    }
  }
}

/* Media Query for Medium Screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .header {
    img {
      width: 97px;
    }
  }

  .section {
    padding: 90px 4% 60px;
    flex-direction: column-reverse;

    &-content {
      max-width: 90%;
      text-align: center;
    }

    &-title {
      font-size: 1.8rem;
      line-height: 2rem;
    }

    &-img {
      max-width: 480px;
      margin-bottom: 4em;
    }

    form {
      width: 80%;
      margin: 0 auto;

      .error-message {
        text-align: left;
      }
    }
  }

  .team-section {
    .section-title {
      font-size: 1.4rem;
    }

    .section-description {
      text-align: left;
    }

    .card-container {
      margin: auto;
      margin-top: 2.5rem;
      text-align: left;
    }
  }

  .signIn-section {
    flex-direction: column;

    .section-title {
      font-size: 1.4rem;
    }

    .section-img {
      width: 600px;
      max-width: 100%;

      button {
        width: 100%;
      }
    }
  }

  .footer {
    flex-direction: column;

    .informations {
      width: 100%;
      gap: 3em;
      flex-wrap: wrap;
    }
  }
}

/* Media Query for Small Screens (max-width: 627px) */
@media screen and (max-width: 627px) {
  .team-section {
    .bg-curve {
      top: -1em;
    }
  }

  .footer {
    .informations {
      justify-content: center;
    }
  }
}

/* Media Query for Extra Small Screens (max-width: 498px) */
@media screen and (max-width: 498px) {
  .header {
    .navlist {
      a {
        margin: 0 10px;
      }
    }
  }

  .section {
    &-content {
      max-width: 100%;
    }
  }

  .hero-section {
    .section-title {
      font-size: 1.6rem;
    }

    form {
      width: 100%;
      flex-direction: column;
    }

    input {
      max-width: 100%;
    }
  }

  .team-section {
    .section-title {
      font-size: 1.25rem;
    }

    .card-container {
      max-width: 90%;
    }
  }

  .footer {
    .informations {
      flex-direction: column;
      margin-bottom: 100px;

      .socials {
        align-self: center;
      }
    }
  }
}

/* Media Query for Smallest Screens (max-width: 375px) */
@media screen and (max-width: 375px) {
  .header {
    .navlist {
      a {
        font-size: 0.9rem;
        margin: 0 5px;
      }
    }
  }
}

/* Media Query for Smallest Screens (max-width: 375px) */
@media screen and (max-width: 280px) {
  .header {
    .logo {
      max-width: 80px;
    }

    .navlist {
      a {
        font-size: 0.8rem;
      }
    }
  }

  .hero-section {
    .section-title {
      font-size: 1.4rem;
    }
  }
}